<div class="pokedex-container">
  <button
    class="pokedex-button"
    [attr.aria-expanded]="expanded()"
    aria-controls="pokedex-content"
    type="button"
    (click)="toggleExpanded()"
  >
    <span class="visually-hidden">Show Pokédex</span>
    <pokeball [size]="36" />
  </button>

  <div class="pokedex-content" [attr.aria-hidden]="!expanded()">
    <ul class="pokedex-list">
      @for(pokemon of pokedex() | keyvalue; track pokemon.key) {
      <li><pokeball [size]="16" />{{ pokemon.key }}</li>
      } @empty {
      <li>No Pokémon in your Pokédex</li>
      }
    </ul>
  </div>
</div>
