@let cardPokemon = pokemon();
<!-- PBI #4: Selected border (#e3350d) -->
<div class="card">
  <div class="content">
    <!-- PBI #1: Pokemon name -->
    <h2>Name here in Titlecase</h2>
    <img
      [ngSrc]="cardPokemon.sprites.front_default"
      [alt]="cardPokemon.name"
      height="96"
      width="96"
    />

    <dl class="details">
      <dt>Type</dt>
      <dd>
        <!-- PBI #1: Pokemon data -->
        Fill in types here
      </dd>
      <dt>Pokédex No.</dt>
      <dd>{{ cardPokemon.id }}</dd>
      <dt>Height</dt>
      <dd>{{ cardPokemon.height / 10 | number : '1.0-2' }} m</dd>
      <dt>Weight</dt>
      <dd>{{ cardPokemon.weight / 10 | number : '1.0-2' }} kg</dd>
    </dl>
  </div>
  <div class="actions">
    <!-- PBI #2: Select and deselect -->
    <button type="button">Button</button>
  </div>
</div>
