@let cardPokemon = pokemon();
<!-- Give the card a border with color #e3350d if it is selected -->
<div class="card">
  <div class="content">
    <!-- Render the name of the pokemon in the h2 and format it in titlecase -->
    <h2>Name here in Titlecase</h2>
    <img
      [ngSrc]="cardPokemon.sprites.front_default"
      [alt]="cardPokemon.name"
      height="96"
      width="96"
    />

    <dl class="details">
      <dt>Type</dt>
      <dd>
        <!-- List all the types of the pokemon (type.name), separate them by comma -->
        Fill in types here
      </dd>
      <dt>Pokédex No.</dt>
      <dd>{{ cardPokemon.id }}</dd>
      <dt>Height</dt>
      <dd>{{ cardPokemon.height / 10 | number : '1.0-2' }} m</dd>
      <dt>Weight</dt>
      <dd>{{ cardPokemon.weight / 10 | number : '1.0-2' }} kg</dd>
    </dl>
  </div>
  <div class="actions">
    <!-- Toggle the selection of the pokemon when the button is clicked -->
    <button type="button">
      <!-- Render 'Remove Pokémon' or 'Add Pokémon' base on the state of selection  -->
      Button
    </button>
  </div>
</div>
